@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

html::-webkit-scrollbar {
  width: 6px;
}

html::-webkit-scrollbar-track {
  background-color: #424A52;
}

html::-webkit-scrollbar-thumb {
  background-color: #fff;
}

.body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  background-color: #f0f0ea;
  display: flex;
  flex-direction: column;
  color: #424A52;
  background-color: #F5F5F5;
  margin: 0;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
