.footer {
  margin-top: 32px;
  margin-bottom: 96px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "nav nav nav contacts" "copyright copyright copyright contacts";
  gap: 32px;
}

.footer-navigation {
  grid-area: nav;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  display: flex;
  background-color: #424A52;
  border-radius: 16px;
  padding: 40px;
  justify-content: space-between;
  margin: 0;
}

.footer-navigation-item dt {
  font-size: 14px;
  margin-bottom: 8px;
}

.footer-navigation-item dd {
  margin: 0;
}

.footer-navigation-item a {
  text-decoration: none;
}

.footer-navigation-item a:hover {
  text-decoration: underline;
}

.contacts-card {
  grid-area: contacts;
  background-color: #fff;
  border-radius: 16px;
  padding: 40px;
  font-weight: 300;
}

.contacts-card h2 {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 400;
}

.contacts-card dl {
  margin: 0;
  margin-bottom: 24px;
}

.contacts-card-item:first-child {
  margin-bottom: 24px;
}

.contacts-card-item:first-child dt {
  display: none;
}

.contacts-card-item dt {
  display: inline-block;
}

.contacts-card-item dd {
  display: inline-block;
  margin: 0;
}

.contacts-card-item a {
  text-decoration: none;
}

.contacts-card-item a:hover {
  text-decoration: underline;
}

.socials {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.socials li {
  display: flex;
}

.socials li:not(:last-child) {
  margin-right: 8px;
}

.socials-link {
  display: flex;
  border-radius: 50%;
}

.socials-link img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  min-width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 50%;
  object-fit: contain;
  background-color: #424A52;
}
.socials-link img:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 15%);
}


.copyright-wrapper {
  grid-area: copyright;
  display: flex;
}

.copyright-wrapper .logo-wrapper {
  display: flex;
  width: 160px;
  min-width: 160px;
  max-height: 100%;
  align-self: center;
  margin-right: 48px;
}

.footer .copyright {
  flex-grow: 1;
  margin: 0;
  text-transform: uppercase;
  color: #828991;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 16px;
}
