/* =>> global styles */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
html::-webkit-scrollbar {
  width: 8px;
}
html::-webkit-scrollbar-track {
  background-color: transparent;
}
html::-webkit-scrollbar-thumb {
  background-color: #424A52;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #424A52;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #F5F5F5;
}
img {
  max-width: 100%;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
.container {
  width: 100%;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body.apply header,
body.apply footer {
  display: none;
  visibility: hidden;
}
.apply {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}
.apply__title {
  min-width: calc(50% - 16px);
  margin-right: 32px;
  text-align: right;
  display: flex;
  flex-direction: column;
}
.apply__title::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 32px;
  border-radius: 16px;
  overflow: hidden;
  background-image: url("../img/apply.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.form__group {
  border: none;
}
.form__input {
  display: flex;
  border: none;
  width: 100%;
  height: 60px;
  border-radius: 16px;
  overflow: hidden;
  padding-right: 40px;
  padding-left: 40px;
  color: #424A52;
}
.form__item {
  position: relative;
}
.form__textarea {
  position: relative;
  display: flex;
  border-radius: 16px;
  width: 100%;
  height: 130px;
  padding-top: 24px;
  padding-right: 40px;
  padding-bottom: 24px;
  padding-left: 40px;
  color: #424A52;
  resize: none;
}
.form__textarea-limit {
  content: "";
  position: absolute;
  right: 16px;
  bottom: 8px;
  color: #DE3B21;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
}
.form__footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
}
.form__file-label {
  display: flex;
  align-items: center;
  margin-right: auto;
  text-transform: uppercase;
}
.form__file-label::before {
  content: "";
  display: block;
  height: 60px;
  width: 60px;
  margin-right: 8px;
  border-radius: 50%;
  overflow: hidden;
  background-image: url("../img/cv-file.svg");
  background-color: #DE3B21;
  background-position: center center;
  background-repeat: no-repeat;
}
.form__submit-btn {
  border: none;
  min-width: max-content;
  padding-right: 24px;
  padding-left: 24px;
}
.form__aware {
  margin-top: 8px;
  margin-left: auto;
  color: #7A8085;
  text-align: right;
  white-space: pre-wrap;
}

/* <<= global styles */


/* =>> pagination */

.pagination {
  display: flex;
  justify-content: flex-start;
  gap: 4px;
  flex-wrap: wrap;
}
.pagination li:first-child {
  order: -2;
}
.pagination li:last-child {
  order: -1;
}
.page-link {
  user-select: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  height: 25px;
  width: 25px;
  position: relative;
  border-radius: 4px;
  z-index: 3;
}
.page-link:hover {
  border-color: #FFDD00;
}
.page-link.active {
  background-color: #FFDD00;
  font-weight: 600;
}
.page-link.disabled {
  opacity: 0.5;
}
.pagination li:first-child .page-link,
.pagination li:last-child .page-link {
  border-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}
.pagination li:first-child .page-link {
  background-image: url("../img/pagination-prev.png");
  background-color: transparent;
}
.pagination li:last-child .page-link {
  background-image: url("../img/pagination-next.png");
  background-color: transparent;
}
.pagination-dots {
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
}

/* <<= pagination */


/* =>> product card */


/* <<= product card */


/* =>> main header */

.header {
  font-size: 16px;
  font-weight: 300;
  display: flex;
  margin-top: 96px;
  margin-bottom: 32px;
  height: 60px;
}
.main-navigation {
  display: flex;
  width: calc(50% - 16px);
  height: 100%;
  margin-right: 32px;
  transition: 0.3s;
}
.header.menu--shown .main-navigation {
  width: calc(75% - 16px);
}
.main-navigation>a:first-child {
  display: flex;
  width: 160px;
  min-width: 160px;
  max-height: 100%;
  align-self: center;
  margin-right: 48px;
}
.main-logo {
  display: block;
  max-height: 100%;
  object-fit: contain;
}
.menu {
  display: flex;
  margin: 0;
  padding-right: 24px;
  padding-left: 24px;
  background-color: #fff;
  border-radius: 16px;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}
.header.menu--shown .menu {
  flex-grow: 1;
}
.menu>dt {
  display: flex;
  align-items: center;
}
.menu>dt::after {
  content: "";
  margin-left: 0;
  width: 0;
  height: 10px;
  background-image: url("../img/arrow-right.svg");
  background-position: right center;
  background-repeat: no-repeat;
  transition: 0.3s;
}
.header.menu--shown .menu>dt::after {
  margin-left: 16px;
  width: 18px;
}
.menu>dd {
  margin: 0;
  width: max-content;
  max-width: 0;
  overflow: hidden;
  transition: 0.3s;
}
.header.menu--shown .menu>dd {
  max-width: 50%;
}
.menu-icon {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  width: 18px;
  height: 16px;
}
.menu-icon i::before,
.menu-icon i::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #DE3B21;
  transition: 0.3s;
}
.menu-icon i:first-child::before {
  top: calc(50% - 2px);
  left: 0;
}
.menu-icon i:first-child::after {
  bottom: calc(50% - 2px);
  left: 0;
}
.menu-icon i:nth-child(2)::before {
  top: calc(50% - 2px);
  left: calc(50% - 2px);
}
.menu-icon i:nth-child(2)::after {
  display: none;
}
.menu-icon i:last-child::before {
  top: calc(50% - 2px);
  right: 0;
}
.menu-icon i:last-child::after {
  bottom: calc(50% - 2px);
  right: 0;
}
.header.menu--shown .menu-icon i:first-child::before {
  top: 0;
  left: 1px;
}
.header.menu--shown .menu-icon i:first-child::after {
  bottom: 0;
  left: 1px;
}
.header.menu--shown .menu-icon i:last-child::before {
  top: 0;
  right: 1px;
}
.header.menu--shown .menu-icon i:last-child::after {
  bottom: 0;
  right: 1px;
}
.menu-button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
.main-navigation-link {
  display: flex;
  text-decoration: none;
  min-width: max-content;
}
.main-navigation-link.current {
  color: #DE3B21;
  font-weight: 400;
}
.main-navigation>a:last-child {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  margin-left: 24px;
  padding-right: 24px;
  padding-left: 24px;
  overflow: hidden;
  border-radius: 16px;
  opacity: 1;
  background-color: #DE3B21;
  transition: 0.3s;
}
.main-navigation>a:last-child::before {
  content: "";
  width: 18px;
  height: 18px;
  margin-right: 8px;
  background-image: url("../img/medicine.svg");
  background-position: center center;
  background-repeat: no-repeat;
}
.header.menu--shown .main-navigation>a:last-child {
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
  max-width: 0;
  opacity: 0;
}
.search-container {
  position: relative;
  z-index: 0;
  flex-grow: 1;
  max-width: calc(50% - 16px);
  height: 100%;
}
.search-form {
  width: 100%;
  height: 100%;
}
.search-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-right: 24px;
  padding-left: 24px;
  background-color: #fff;
  border-radius: 16px;
}
.search-label::before {
  content: "";
  width: 18px;
  height: 18px;
  margin-right: 8px;
  background-image: url("../img/search.svg");
  background-position: center center;
  background-repeat: no-repeat;
}
.search-input {
  padding: 0;
  border: 0;
  max-width: calc(100% - 26px);
}
.search-input:focus {
  outline: none;
}

/* <<= main header */


/* =>>main footer */

.footer {
  margin-top: 32px;
  margin-bottom: 96px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "nav nav nav contacts" "copyright copyright copyright contacts";
  gap: 32px;
}
.footer-navigation {
  grid-area: nav;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  display: flex;
  background-color: #424A52;
  border-radius: 16px;
  padding: 40px;
  justify-content: space-between;
  margin: 0;
}
.footer-navigation-item dt {
  font-size: 14px;
  margin-bottom: 8px;
}
.footer-navigation-item dd {
  margin: 0;
}
.footer-navigation-item a {
  text-decoration: none;
}
.footer-navigation-item a:hover {
  text-decoration: underline;
}
.contacts-card {
  grid-area: contacts;
  background-color: #fff;
  border-radius: 16px;
  padding: 40px;
  font-weight: 300;
}
.contacts-card h2 {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 400;
}
.contacts-card dl {
  margin: 0;
  margin-bottom: 24px;
}
.contacts-card-item:first-child {
  margin-bottom: 24px;
}
.contacts-card-item:first-child dt {
  display: none;
}
.contacts-card-item dt {
  display: inline-block;
}
.contacts-card-item dd {
  display: inline-block;
  margin: 0;
}
.contacts-card-item a {
  text-decoration: none;
}
.contacts-card-item a:hover {
  text-decoration: underline;
}
.socials {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.socials li {
  display: flex;
}
.socials li:not(:last-child) {
  margin-right: 8px;
}
.socials-link {
  display: flex;
  border-radius: 50%;
}
.socials-link img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  min-width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 50%;
  object-fit: contain;
  background-color: #424A52;
}
.socials-link img:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 15%);
}
.copyright-wrapper {
  grid-area: copyright;
  display: flex;
}
.copyright-wrapper .logo-wrapper {
  display: flex;
  width: 160px;
  min-width: 160px;
  max-height: 100%;
  align-self: center;
  margin-right: 48px;
}
.footer .copyright {
  flex-grow: 1;
  margin: 0;
  text-transform: uppercase;
  color: #828991;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 16px;
}

/* =>>main fooer */

.home-page {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 312px);
  grid-template-areas: "info info lifestyle about" "info info carrier news" "products products attention attention" "carousel carousel carousel carousel" "map map map map";
  gap: 32px;
}
.home-page>*:first-child {
  grid-area: info;
}
.home-page>*:nth-child(2) {
  grid-area: about;
}
.home-page>*:nth-child(3) {
  grid-area: products;
}
.home-page>*:nth-child(4) {
  grid-area: carrier;
}
.home-page>*:nth-child(5) {
  grid-area: news;
}
.home-page>*:nth-child(6) {
  grid-area: lifestyle;
}
.home-page>*:nth-child(7) {
  grid-area: attention;
}
.home-page>*:nth-child(8) {
  grid-area: carousel;
}
.home-page>*:last-child {
  grid-area: map;
}
.sample-wrapper {
  font-weight: 300;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
}
.sample-wrapper::before {
  display: block;
  width: 60px;
  height: 60px;
  margin-bottom: 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sample-wrapper::after {
  display: block;
  width: 18px;
  height: 10px;
  margin-top: auto;
  align-self: flex-end;
  background-image: url("../img/arrow-right.svg");
  background-position: center center;
  background-repeat: no-repeat;
}
.sample-wrapper--link {
  text-decoration: none;
  transition: 0.3s;
}
.sample-wrapper--link:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 10%);
}
.sample-wrapper--dark {
  color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #424A52;
}
.sample-wrapper--dark p:not(:last-of-type) {
  margin-bottom: 16px;
}
.sample-wrapper__title {
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 5px;
  max-width: max-content;
}
.sample-wrapper__title--big {
  font-size: 40px;
  margin-bottom: 32px;
}
.sample-wrapper>p {
  font-weight: 300;
  max-width: max-content;
  white-space: pre-wrap;
}
.sample-title {
  font-weight: 300;
  font-size: 21px;
  text-transform: uppercase;
  color: #6B7177;
  max-width: max-content;
}
.hover-wrapper {
  font-weight: 300;
  text-decoration: none;
  color: transparent;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  transition: 0.3s;
}
.hover-wrapper:hover {
  color: #fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 20%);
}
.hover-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s;
}
.hover-wrapper:hover::before {
  z-index: -1;
  filter: brightness(0.4);
}
.hover-wrapper::after {
  content: "";
  display: block;
  width: 18px;
  height: 10px;
  margin-top: auto;
  align-self: flex-end;
  background-image: url("../img/arrow-right--white.svg");
  background-position: center center;
  background-repeat: no-repeat;
}
.hover-wrapper__title {
  font-size: 16px;
  font-weight: 700;
  margin-top: auto;
  margin-bottom: 5px;
  max-width: max-content;
}
.hover-wrapper>p {
  font-weight: 400;
  max-width: max-content;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
.home-page__about::before {
  content: "";
  background-image: url("../img/about-icon.png");
}
.home-page__news::before {
  content: "";
  background-image: url("../img/news-icon.png");
}
.home-page__product::before {
  content: "";
  background-image: url("../img/products-icon.png");
}
.home-page__attention::before {
  content: "";
  background-image: url("../img/attention-icon.png");
}
.home-page__carrier::before {
  background-image: url("../img/carrier-bg.png");
}
.home-page__lifestyle::before {
  background-image: url("../img/lifestyle-bg.png");
}
.home-page__about::after,
.home-page__news::after,
.home-page__product::after {
  content: "";
}
.home-page__product-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
.home-page__product-wrapper::after {
  content: "";
  background-image: url("../img/product-bg.png");
  background-size: cover;
  border-radius: 16px;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
}
.map-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.map {
  position: relative;
  left: -2px;
  top: -2px;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
}
.product-card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
}
.product-card__title {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 8px;
  margin-left: 40px;
}
.product-card__img-wrapper {
  order: -1;
  display: flex;
  height: 160px;
  margin: auto;
}
.product-card__img {
  display: block;
  height: 100%;
  object-fit: contain;
  min-height: 0;
}
.product-card__category {
  order: -2;
  display: flex;
  align-items: center;
}
.product-card__category::before {
  content: "";
  display: block;
  width: 40px;
  min-width: 40px;
  height: 40px;
  margin-right: 8px;
  background-image: url("../files/products/eye-drops.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.product-card__prescription {
  margin-left: 40px;
}
.product-card__link {
  color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}
.product-card__link::after {
  content: "";
  position: absolute;
  right: 40px;
  bottom: 40px;
  z-index: -1;
  width: 18px;
  height: 10px;
  background-image: url("../img/arrow-right.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  grid-template-areas: "about principles" "presence presence";
}
.about-page__left-column {
  grid-area: about;
  display: flex;
  flex-direction: column;
}
.about-page__right-column {
  grid-area: principles;
  display: flex;
  flex-direction: column;
}
.global-presence {
  grid-area: presence;
}
.about-page__about-belinda {
  flex-grow: 1;
  margin-bottom: 32px;
}
.pretty-link {
  color: transparent;
  text-decoration: none;
  position: relative;
  z-index: 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  border-radius: 16px;
  overflow: hidden;
  color: #fff;
  transition: 0.3s;
}
.pretty-link:hover {
  color: #fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 15%);
}
.pretty-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s;
}
.pretty-link:hover::before {
  z-index: -1;
  filter: brightness(0.4);
}
.pretty-link__inner {
  width: 216px;
}
.pretty-link__inner::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  margin-bottom: 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pretty-link__inner::after {
  content: "";
  display: block;
  width: 18px;
  height: 10px;
  margin-left: auto;
  margin-top: 56px;
  background-image: url("../img/arrow-right--white.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pretty-link__title {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 5px;
}
.pretty-link__text {
  white-space: pre-wrap;
}
.about-page__products {
  min-height: 800px;
}
.about-page__products::before {
  background-image: url("../img/dropper.png");
}
.about-page__products-inner::before {
  background-image: url("../img/about-products.png");
}
.about-page__news {
  min-height: 456px;
}
.about-page__news::before {
  background-image: url("../img/pharmacist.png");
}
.about-page__news-inner::before {
  background-image: url("../img/about-news.svg");
}
.advantages__title {
  margin-bottom: 32px;
}
.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  grid-auto-rows: 1fr;
}
.advantage-item {
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 16px;
  padding: 40px;
  display: flex;
  align-items: center;
}
.advantage-item::before {
  content: "";
  display: block;
  width: 60px;
  min-width: 60px;
  height: 60px;
  margin-right: 16px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.advantage-item:first-child::before {
  background-image: url("../img/advantage-1.svg");
}
.advantage-item:nth-child(2)::before {
  background-image: url("../img/advantage-2.svg");
}
.advantage-item:nth-child(3)::before {
  background-image: url("../img/advantage-3.svg");
}
.advantage-item:nth-child(4)::before {
  background-image: url("../img/advantage-4.svg");
}
.advantage-item:nth-child(5)::before {
  background-image: url("../img/advantage-5.svg");
}
.advantage-item:last-child::before {
  background-image: url("../img/advantage-6.svg");
}
.principles {
  margin-bottom: 32px;
  flex-grow: 1;
}
.principle-item>dt {
  font-weight: 700;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.principle-item>dd {
  margin: 0;
}
.principle-item>dd:last-child {
  margin-bottom: 16px;
}
.mission-vision__title {
  margin-bottom: 32px;
}
.mission-vision-list {
  list-style: none;
}
.mission-vision-item:not(:last-child) {
  margin-bottom: 32px;
}
.mission-vision-item::before {
  content: "";
  width: 60px;
  height: 60px;
  margin-bottom: 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mission-vision-item:first-child:before {
  background-image: url("../img/mission-vision-1.svg");
}
.mission-vision-item:nth-child(2):before {
  background-image: url("../img/mission-vision-2.svg");
}
.mission-vision-item:last-child:before {
  background-image: url("../img/mission-vision-3.svg");
}
.global-presence__title {
  margin-bottom: 32px;
}
.global-presence__carousel {
  margin-bottom: 32px;
}
.global-presence__carousel::before {
  content: "";
  display: block;
  width: 100%;
  height: 280px;
  border-radius: 16px;
  margin-bottom: 32px;
  background-image: url("../img/earth.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.site-item {
  text-decoration: none;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.site-item::after {
  content: "";
  width: 18px;
  min-width: 18px;
  height: 10px;
  background-image: url("../img/arrow-right.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.site-item__url {
  font-style: normal;
}
.about-page__map {
  height: 312px;
}
.products-page__info,
.carrier-page__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-bottom: 32px;
  min-height: 380px;
}
.products-page__info::after,
.carrier-page__info::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/products-page-belinda.png");
}
.carrier-page__info::after {
  background-image: url("../img/carrier-page-belinda.png");
}
.products-page__filter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 60px;
  gap: 32px;
  margin-bottom: 32px;
}
.products-page__filter-form {
  display: grid;
  grid-column: span 3;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.products-filter__item {
  display: flex;
}
.products-search {
  display: flex;
}
.products-search__item {
  display: flex;
  width: 100%;
}
.products-search__label {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 291px;
  padding-right: 32px;
  padding-left: 32px;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
}
.products-search__label::before {
  content: "";
  display: block;
  width: 18px;
  min-width: 18px;
  height: 18px;
  margin-right: 8px;
  background-image: url("../img/products-search.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.products-search__input {
  border: none;
  font-size: 16px;
  max-width: calc(100% - 26px);
}
.products__title {
  margin-bottom: 32px;
}
.products-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}
.products-list__item {
  transition: 0.3s;
}
.products-list__item:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 10%);
  border-radius: 16px;
}
.products-show-page {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 32px;
  grid-template-areas: "card card description description" "card card similar similar" "info info info info" "popular popular popular popular";
}
.products-show-page__description {
  grid-area: description;
}
.products-show-page__product {
  grid-area: card;
}
.products-show-page__info {
  grid-area: info;
}
.products-show-page__similar {
  grid-area: similar;
}
.products-show-page__popular {
  grid-area: popular;
}
.product {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  padding-bottom: 120px;
}
.product__img-wrapper {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.product__img {
  display: block;
  height: 100%;
}
.product__category {
  display: flex;
  order: -1;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border: 2px solid #424A52;
  border-radius: 50%;
}
.product__download-link {
  order: -2;
  display: flex;
  text-decoration: none;
  margin-right: auto;
  white-space: pre-wrap;
  text-transform: uppercase;
  align-items: center;
}
.product__download-link::before {
  content: "";
  display: block;
  width: 60px;
  min-width: 60px;
  height: 60px;
  min-height: 60px;
  margin-right: 8px;
  background-image: url("../img/download.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.similar-products__title {
  margin-bottom: 32px;
}
.popular-products__title {
  margin-bottom: 32px;
}
.red-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  background-color: #DE3B21;
  border-radius: 16px;
  width: 240px;
  height: 60px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.3s;
}
.red-link:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 15%);
}
.popular-products__link {
  margin-top: 32px;
  margin-right: auto;
  margin-left: auto;
}
.accordion {
  margin: 0;
  padding: 0;
}
.accordion__head {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
  transition: 0.3s;
}
.accordion__head:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 10%);
}
.accordion__body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: 0.3s;
}
.accordion__body:not(:last-of-type) {
  margin-bottom: 8px;
}
.accordion__head--hidden+.accordion__body {
  height: 0;
}
.sample-description-term {
  display: flex;
  width: 100%;
  height: 60px;
}
.sample-description-term__title {
  display: flex;
  align-items: center;
  padding-right: 40px;
  padding-left: 40px;
  color: #fff;
  background-color: #424A52;
  font-weight: 400;
  width: 33%;
}
.sample-description-term__subtitle {
  display: flex;
  align-self: center;
  margin-left: 40px;
  margin-right: auto;
}
.sample-description-term__button {
  margin-right: 40px;
  border: none;
  background-color: transparent;
  width: 30px;
  min-width: 30px;
  height: 30px;
  overflow: hidden;
  color: transparent;
  align-self: center;
  transform: rotate(-180deg);
  user-select: none;
  transition: 0.3s;
}
.accordion__head--hidden .sample-description-term__button {
  transform: rotate(0deg);
}
.dropdown-icon {
  display: block;
  pointer-events: none;
  width: 30px;
  min-width: 30px;
  height: 30px;
  border: 1px solid #424A52;
  border-radius: 8px;
  background-image: url("../bvselect/arrow.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 18px;
}
.sample-description-definition {
  background-color: #fff;
  border-radius: 16px;
  padding: 40px;
}
body.attention footer,
body.attention .main-navigation a:last-child,
body.attention .main-navigation .menu {
  display: none;
}
body.attention .main-navigation {
  width: max-content;
  margin: 0;
}
body.attention .main-navigation a:first-child {
  margin: 0;
  margin-bottom: 32px;
}
body.attention header {
  height: auto;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}
body.attention .search-container {
  height: 60px;
  width: 100%;
  max-width: 100%;
}
body.attention .container {
  justify-content: center;
  max-width: 600px;
}
.attention-card {
  color: #fff;
  padding: 40px;
  border-radius: 16px;
  background-color: #424A52;
}
.attention-card__title {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  max-width: max-content;
  margin-bottom: 5px;
}
.attention-card__title::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  margin-bottom: 32px;
  background-image: url("../img/attention.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.attention-card__text {
  font-weight: 300;
}
.attention-card__inner {
  display: flex;
  margin-top: 32px;
  justify-content: flex-end;
}
.attention-card__link {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  overflow: hidden;
  width: 240px;
  height: 50px;
}
.attention-card__link--upper {
  text-transform: uppercase;
}
.attention-card__link--red {
  background-color: #DE3B21;
}
.attention-list {
  list-style: none;
  font-size: 16px;
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-right: auto;
  margin-bottom: 32px;
  margin-left: auto;
}
.attention-list__item:not(:last-child) {
  margin-right: 32px;
}
.attention-links__link {
  font-weight: 300;
  text-decoration: none;
}
.vacancies__title {
  margin-bottom: 32px;
}
.carrier-page__info {
  width: 100%;
}
.vacancies__link {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: auto;
}
.no-vacancy {
  padding: 72px;
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
  text-align: center;
}
.no-vacancy::before {
  content: "";
  display: block;
  align-self: center;
  width: 34px;
  height: 30px;
  margin-bottom: 8px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/no-vacancy.svg");
}
.newslifestyle__img {
  width: 100%;
  max-height: 280px;
  object-fit: cover;
  border-radius: 16px;
}
.no-vacancy__link {
  text-decoration: none;
  display: block;
  margin-top: 16px;
  color: #DE3B21;
  font-weight: 700;
}
.newslifestyle-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
.newslifestyle__title {
  margin-top: 32px;
  margin-bottom: 32px;
}
.newslifestyle-list {
  list-style: none;
  display: grid;
  gap: 32px;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
}
.newslifestyle-list--more {
  grid-template-columns: 1fr 1fr;
}
.newslifestyle-card {
  position: relative;
  z-index: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
.newslifestyle-card__inner {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  padding: 40px;
  padding-right: 20px;
  background-color: #fff;
  border-radius: 16px;
}
.newslifestyle-card__inner::after {
  content: "";
  display: block;
  width: 18px;
  height: 10px;
  margin-top: auto;
  margin-left: auto;
  background-image: url("../img/arrow-right.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.newslifestyle-card__title {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 5px;
}
.newslifestyle-card__description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  line-clamp: 7;
  -webkit-box-orient: vertical;
}
.newslifestyle-card__link {
  color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.newslifestyle-show {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-bottom: 32px;
}
.newslifestyle-show__img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
}
.newslifestyle-show__inner {
  padding: 40px;
  background-color: #fff;
  border-radius: 16px;
}
.newslifestyle-show__title {
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 8px;
}
.newslifestyle-show__datetime {
  font-size: 12px;
  display: block;
  margin-bottom: 16px;
}
.contacts-vitrin {
  margin-bottom: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content auto;
  grid-template-areas: "img form" "card form";
  gap: 32px;
}
.contacts-vitrin::before {
  content: "";
  grid-area: img;
  border-radius: 16px;
  overflow: hidden;
  background-image: url("../img/contacts.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contacts-vitrin section {
  position: relative;
  grid-area: card;
  display: flex;
  flex-direction: column;
}
.contacts-vitrin .socials {
  position: absolute;
  right: 40px;
  bottom: 40px;
}
.contacts-vitrin .contacts-card::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("../img/contacts-info.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 32px;
}
.contacts-vitrin form {
  grid-area: form;
}
.contacts-vitrin dl {
  margin: 0;
  max-width: max-content;
}
/* =>> adaptation */


/* desktop */

@media screen and (max-width: 1399px) {
  .container {
    max-width: 1060px;
  }
}
@media screen and (max-width: 1199px) {
  .container {
    max-width: 852px;
  }
}

/* tablet */

@media screen and (max-width: 991px) {
  .container {
    max-width: 698px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 506px;
  }
}

/* mobile */

@media screen and (max-width: 575px) {
  .container {
    max-width: 360px;
  }
}
@media screen and (max-width: 389px) {
  .container {
    max-width: 90%;
  }
}

/* <<= adaptation */
